$body-font: "Source Sans Pro", sans-serif;
$tweet-font: "Bungee", sans-serif;
$border-color: dimgray;
$shadow-color: lightsteelblue;
$background-color: transparent;
$nav-color: #4056A1;
$header-color: goldenrod;
$white: #FFFFFF;
$red: red;
