@use "variables";
@use "mixins";

section.new-tweet {
  margin-top: 0.5em;
  display: none;

  label {
    display: block;
    color: variables.$border-color;
    font-weight: bolder;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  button {
    background-color: variables.$nav-color;
    border: none;
    color: variables.$white;
    font-family: variables.$tweet-font;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
  }

  output {
    font-weight: 900;
    font-family: variables.$tweet-font;
  }
}

#tweet-text {
  width: 100%;
  border: none;
  outline: none;
  background-color: variables.$background-color;
  border-bottom: 4px solid variables.$border-color;
  font-size: 20px;
  font-weight: 550;
}

#submit {
  @include mixins.space-between;
}

.red {
  color: variables.$red;
}

#error {
  display: none;
}

#error-message {
  @include mixins.flex-start;
  border: 4px solid variables.$red;
  padding: 0.5em;
  margin-bottom: 2em;
  color: variables.$red;

  i {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}