@use "variables";

@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
  }

  nav {
    background-color: variables.$nav-color;
  }

  header.user {
    width: 35%;
    margin-top: 180px;
    margin-left: 3%;
    margin-right: 4%;
    justify-content: center;
  }
  
  main.container {
    width: 65%;
    margin-top: 165px;
    margin-left: 4%;
    margin-right: 3%;
  }
 }