header.user {
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  background-color: goldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
header.user h2 {
  font-size: 1.8em;
  margin: 0;
}

.normal {
  font-weight: normal;
}

#invisible-block {
  visibility: hidden;
}
