section.new-tweet {
  margin-top: 0.5em;
  display: none;
}

section.new-tweet label {
  display: block;
  color: dimgray;
  font-weight: bolder;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

section.new-tweet div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

section.new-tweet button {
  background-color: #4056A1;
  border: none;
  color: #FFFFFF;
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

section.new-tweet output {
  font-weight: 900;
  font-family: "Bungee", sans-serif;
}

#tweet-text {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 4px solid dimgray;
  font-size: 20px;
  font-weight: 550;
}

#submit {
  display: flex;
  justify-content: space-between;
}

.red {
  color: red;
}

#error {
  display: none;
}

#error-message {
  display: flex;
  justify-content: flex-start;
  border: 4px solid red;
  padding: 0.5em;
  margin-bottom: 2em;
  color: red;
}

#error-message i {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
